body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
h1 {
  font-size: 50px;
  text-transform: capitalize;
}
.name-color span {
  color: orange;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 7%;
}
.half-width img {
  width: 75%;
}
.hire-btn {
  text-decoration: none;
  background-image: linear-gradient(#ff9873, #ff6e51);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 5px;
}
